<div class="profilebox">
  <div class="profilebox-img"></div>
  <div class="profilebox-info">
    <div class="profilebox-name">岡部彰広（２０）</div>
    <div class="profilebox-day">1999年　7月　30日　生</div>
  </div>
</div>
<div class="intro-box">
  <div class="kako">
    ・自己紹介
  </div>
  <div class="intro">
    2018年に鳥取県立鳥取西高校を卒業後、国立大学を受験するも合格することは出来ずに浪人することを決意。<br>
    浪人中に年間100万人に1人しか発症しないと言われている骨肉腫を患う。<br>
    約1年の入院生活を終えてすぐにプログラミングの勉強を開始。<br>
    右膝は病気の影響で人口関節をはめています。<br>
    普通の人より少しハンデを背負っていますが、そんなことをもろともしないようになるため普通の人の何倍も努力してみせると心の底で本気で思っています。<br>人と話すのが大好きです！！
  </div>
  <div class="kako">
    ・趣味
  </div>
  <div class="intro">
    英語(まだ話せません)<br>
    野球観戦(Dena大好き)<br>
    ラーメン巡り(まだまだこれから)<br>
    お笑い(M-1のことならなんでも答えれます)<br>
    旅(いろんな温泉にいきたい)
