<div class="uppage">
  <div class="uppage-title">Portfolio</div>
  <div class="uppage-name">岡部彰広</div>
</div>
<ul class="downpage">
  <li><%= link_to "Profile", profiles_path, class: "downpage-link" %></li>
  <li><%= link_to "Skill", root_path, class: "downpage-link" %></li>
  <li><%= link_to "Dream", root_path, class: "downpage-link" %></li>
</ul>
