<div class="skill">
  <div class="skill-title">成果物</div>
  <div class="frima">
    <div class="frima-img"></div>
    <div class="frima-intro">
      <span>某フリマアプリのコピーサイト</span><br>TECH::EXPERTのカリキュラムの中でチーム開発で作成したものです<br>
      複数人で開発することの難しさと楽しさを感じ、<br>かなりの刺激を受けました。
    </div>
  </div>
  <div class="frima">
    <div class="frima-img1">
      <%= image_tag 'todo.png', :size =>'480x320' %>
    </div>
    <div class="frima-intro">
      <span>積み上げリスト</span><br>to doアプリのようにその日に行うタスクを記録出来ます。<br>それだけでなくそのタスクが完了するとDoneList(出来たことリスト)<br>として見ることができます。一日が終わるごとにその日出来なかったこと<br>ばかり考えてしまいますが、あえて出来たことを可視化することによって<br>毎日の成長を感じて欲しいと思い作成しました。
    </div>
  </div>
  <div class="skill-title1">学習中の言語（フレームワーク）</div>
  <ul>
    <li>・html(haml)</li>
    <li>・css(scss)</li>
    <li>・Ruby</li>
    <li>・Ruby on Rails</li>
    <li>・JavaScript</li>
  </ul>
</div>