.profilebox {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

  &-img {
    background-color: red;
    width: 250px;
    height: 250px;
    border-radius: 1000px;
  }
  &-info {
    padding: 20px;

  }
  &-name {
    font-size: 3rem;
  }
}
.intro-box {
  margin-left: 20vw;
  margin-top: 70px;
  width: 60vw;
}
.kako {
  font-size: 2rem;
}
.intro {
  
  font-size: 1.5rem;
}
.Blog {
  margin-top: 30px;
  font-size: 2rem;

} 
