.skill {
  width: 70vw;
  margin: 0 auto;

  &-title {
    font-size: 4rem;
  }
}
.frima {
  display: flex;
  margin: 70px 0;

  &-img1 {
  }
  &-intro {
    margin-left: 10vw;

    span {
      font-size: 2rem;
    }
  }
}

.skill-title1 {
  font-size: 3rem;
}

li {
  font-size: 2rem;
}